@model src.Controllers.ChatController
@{
    ViewData["Title"] = "Chat";
}

    <div class="container">
        <form method="post" asp-controller="Chat" asp-action="CreateRoom">
            <div asp-validation-summary="All" class="text-danger col-lg-12"></div>
            <div class="form-group">
                <label asp-for="Input.RoomName"></label>
                <input asp-for="Input.RoomName" class="form-control" placeholder="Room name" />
                <span asp-validation-for="Input.RoomName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.RoomSubject"></label>
                <input asp-for="Input.RoomSubject" class="form-control" placeholder="Room name" />
                <span asp-validation-for="Input.RoomSubject" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Room name</th>
                <th scope="col">Room subject</th>
                <th scope="col"</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var room in ViewBag.rooms)
                {
                    <tr scope="row">
                        <td>@room.Id</td>
                        <td>@room.RoomName</td>
                        <td>@room.RoomSubject</td>
                        <td>@room.Users.Count</td> 
                        <td><a asp-controller="Chat" asp-action="ChatRoom" asp-route-id="@room.Id" type="button" class="btn btn-primary">Join</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>